.bubbles {
    margin-top: -36rem;
    margin-left: 28rem;
    height: 100%;
    width: 70%;
    flex-direction: column;
    background: #eef1fa;
    border-radius: 30px;
  }
  .time-period {
    height: 5vh;
    width: 300px;
    background: #fff;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
  }
  
  .time-period .time {
    font-weight: 200;
    font-size: medium;
  }
  
  .button {
    background: transparent;
    outline: 0;
    border: 0;
    height: 90%;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
  }
   .top_heading{
    letter-spacing: 0.6rem;
    position: absolute;
    top: 12%;
  }
  .button__container {
    display: flex;
    justify-content: flex-end ;
  
    background: white;
    border-radius: 10px;
    padding: 0.2rem 2rem;
    margin-top: 0.5rem;
  }
  .button--active {
    background: blue;
    color: white;
  }
  
  .item-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time-period {
    height: 5vh;
    width: 300px;
    background: #fff;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
  }
  
  .all-bubles {
    width: 80%;
    height: 65vh;
    margin: 0.7rem;
    
    position: relative;
  }
  .all-bubles div {
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
  }
  
  .center-div {
    height: 340px;
    width: 370px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  }
  .center-div .innermost {
    height: 180px;
    width: 180px;
    background: radial-gradient(#838fff 55%, #e3e6ff);
  }
  
  .yellow {
    height: 90px;
    width: 90px;
    background: linear-gradient(#ffb84d, #ee7b39);
    left: 26%;
  }
  
  .purple {
    height: 80px;
    width: 80px;
    background: radial-gradient(#6ae4ff 55%, #4a93ff, #4a4fec);
    position: absolute;
  }
  
  .purple1 {
    top: 2%;
    right: 30%;
    height: 70px;
    width: 70px;
  }
  
  .purple2 {
    top: 42%;
    right: 25%;
  }
  
  .purple3 {
    top: 12%;
    left: 10%;
    height: 50px;
    width: 50px;
  }
  
  .purple4 {
    bottom: 25%;
    left: 28%;
    height: 30px;
    width: 30px;
  }
  
  .blue {
    height: 100px;
    width: 100px;
    background: radial-gradient(#e3e6ff 5%, #838fff 45%, #030092);
  }
  
  .blue1 {
    left: 30%;
    top: 2%;
  }
  
  .blue2 {
    right: 30%;
    bottom: 2%;
  }
  
  .blue3 {
    right: 20%;
    top: 12%;
    height: 90px;
    width: 90px;
  }
  
  .blue4 {
    left: 30%;
    bottom: 2%;
    height: 70px;
    width: 70px;
  }
  
  .blue5 {
    right: 10%;
    bottom: 12%;
    height: 50px;
    width: 50px;
  }
  
  .pink {
    height: 120px;
    width: 120px;
    background: radial-gradient(#ffe3d3 5%, #d14dd3 65%);
  }
  
  .first {
    left: 12%;
  }
  
  .second {
    right: 10%;
  }
  
  .third {
    top: 5%;
  }
  
  .forth {
    bottom: 2%;
  }
  
  .data {
    height: 62px;
    width: 600px;
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
  }
  .data div {
    height: 100%;
    width: 140px;
    text-align: center;
  }
  .title {
    /* color: #383874; */
    font-weight: 400;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }
  
  .title_data{
    font-size: medium;
  }